<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact_us_page</title>
    <link rel="stylesheet" href="./style.contact.css">
    <link rel="stylesheet" href="./mobile.main.style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header_contact">
        <img src="./images/jihc-logo-png-v3 (1).png" alt="" class="logo">
        <div class="menu"> 
            <nav>
                <a href="./index.html" class="link_home_page">
                    Home Page
                </a>
                <a href="./about.html" class="link_about_page">
                    About Us
                </a>
                <a href="./gallery.html" class="link_gallery">
                    Gallery
                </a>
                <a href="./contact.page.html" class="link_contact_us">
                    Contact Us
                </a>
            </nav>
        </div>
    </header>
    <hr>
    <div class="contact_us">
        <p class="contact_us_title">Contact Us with:</p>
        <div class="container_contact">
            <p class="title_container">Our Websites</p>
            <div class="website-1">
                <img src="./images/Instagram-logo2.png" alt="">
                <p class="text_website">You can follow us and see what interesting competitions and projects are being organized, as well as what news is happening</p>
                <a href="https://www.instagram.com/jihc.kz/?hl=ru"><button>Go To WebSite</button></a>
            </div>
            <div class="website-2">
                <img src="./images/telegram2.png" alt="">
                <p class="text_website">On Telegram, you can ask the bot any question you have and this is a very convenient WebSite. </p>
                <a href="https://web.telegram.org/a/#1988957780"><button>Go To WebSite</button></a>
            </div>
            <div class="website-3">
                <img src="./images/google_icon.png" alt="">
                <p class="text_website">In Google website you can find all thing that you want to know .</p>
                <a href="https://jihc.edupage.org/?"><button>Go To WebSite</button></a>
            </div>
            <div class="website-4">
                <img src="./images/phone-widget.png" alt="">
                <p class="text_website">You can talk directly to the animator and ask questions directly. </p>
                <button>+7 (707) 802-00-88</button>
            </div>
        </div>
        <hr class="email_hr">
        <div class="email_contact">
            <p class="title_container">Your Questions</p>
            <div class="your_email">
                <input type="email" placeholder="Type Your Email Here" class="email" required>
                <textarea class="area" type="text" cols="18" rows="8" placeholder="Type Your Question Here"></textarea>
                <button>Submit</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_top">
            <div class="info-1">
                <img src="./images/jihc-logo-png-v3(white).png" alt="">
                <p>Alexander Pushkin Street, 154 <br>Zhambyl Region, City Taraz, <br> Kazakhstan</p>
            </div>
             
            <div class="info-2">
                <nav>
                    <a href="./index.html" class="link_home_page">
                        Home Page
                    </a>
                    <a href="./about.html" class="link_about_page">
                        About Us
                    </a>
                    <a href="./gallery.html" class="link_gallery">
                        Gallery
                    </a>
                    <a href="./contact.page.html" class="link_contact_us">
                        Contact Us
                    </a>
                </nav>
            </div>
            <div class="info-3">
                <div class="link_insta">
                    <p>* Follow & Contact us on Instagram:</p>
                    <a href="https://www.instagram.com/jihc.kz/?hl=ru"><img src="./images/insta1.png" alt="" width="50px"></a>
                </div>
                <div class="link_telegram">
                    <p>* Ask questions in the Telegram:</p>
                    <a href="https://web.telegram.org/a/#1988957780"><img src="./images/telegram1.png" alt="" width="50px"></a>
                </div>
                <div class="link_google">
                    <p>* Learn more from our website:</p>
                    <a href="https://jihc.edupage.org/?"><img src="./images/google1.png" alt="" width="40px"></a>
                </div>
                <div class="phone_us">
                    <p>* +7 (707) 802-00-88</p>
                    <img src="./images/phone1.png" alt="" width="20px">
                </div>
            </div>
        </div>
        <div class="footer_bottom">
         <p>© 2024 Jambyl Innovation High Collage. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>